<launch>

  <include file="$(find local_planner)/launch/local_planner.launch" />

  <!--include file="$(find waypoint_example)/launch/waypoint_example.launch" /-->

  <include file="$(find vehicle_simulator)/launch/vehicle_simulator.launch" />

  <!--include file="$(find loam_interface)/launch/loam_interface.launch" /-->

  <node launch-prefix="nice" pkg="rviz" type="rviz" name="rvizGA" args="-d $(find vehicle_simulator)/rviz/vehicle_simulator.rviz" respawn="true"/>

</launch>
